<div id="card-out" [style]="{width: cardWidth + 'px', height: cardHeight + 'px'}">
    <div id="card-in" [style]="{width: innerCardWidth + 'px', height: innerCardHeight + 'px' }">
        <div id="section-header" class="section" [style]="{fontSize: fontSizeLarge + 'px'}">
            <div id="header-name">{{getName()}}</div>
        </div>
        <div id="section-art" class="section">
            <div id="art-cost-holder" [style]="{height: getResourcesHeight()}" [hidden]="getResourcesTotal() == 0">
                <div id="art-cost">
                    <div id="cost-food" class="cost-icon" *ngFor="let x of [].constructor(getResourceCount(0))"
                        [style]="{width: resourceIconSize + 'px', height: resourceIconSize + 'px'}">
                        <img src="assets/food.svg">
                    </div>
                    <div id="cost-wood" class="cost-icon" *ngFor="let x of [].constructor(getResourceCount(1))"
                         [style]="{width: resourceIconSize + 'px', height: resourceIconSize + 'px'}">
                        <img src="assets/wood.svg">
                    </div>
                    <div id="cost-gemstones" class="cost-icon" *ngFor="let x of [].constructor(getResourceCount(2))"
                         [style]="{width: resourceIconSize + 'px', height: resourceIconSize + 'px'}">
                        <img src="assets/gemstones.svg">
                    </div>
                    <div id="cost-generic" class="cost-icon" 
                         [style]="{width: resourceIconSize + 'px', height: resourceIconSize + 'px', visibility: getResourceCount(3) > 0 ? 'visible' : 'hidden'}">
                        {{getResourceCount(3)}}
                    </div>
                </div>
            </div>
            <div id="art-image">
                <img [src]="getImageURL()"/>
            </div>
        </div>
        <div id="section-textbox" class="section" [style]="{fontSize: fontSizeSmall + 'px'}">
            <div id="textbox-main" [class.statless]="getStat('attack') == null ">
                <div class="ability-reminder" *ngFor="let ability of getWithReminders() | keyvalue">
                    <b  [style]="{fontSize: fontSizeSmall + 'px'}">{{ability.key}}</b><i  [style]="{fontSize: fontSizeReminder + 'px'}"> ({{ability.value}})</i>
                </div>
                <b  [style]="{fontSize: fontSizeSmall + 'px'}">{{getReminderless()}}</b>
                <div [style]="{fontSize: fontSizeSmall + 'px'}">{{getText()}}</div>
                <div id="main-flavor" [style]="{fontSize: fontSizeSmall + 'px'}" [hidden]="getFlavorText() == ''">{{getFlavorText()}}</div>
            </div>
            <div id="textbox-stats" [style]="{visibility: getStat('attack') != null ? 'visible' : 'hidden'}">
                <div id="stats-attack" class="stats-item" [style]="{height: statIconSize * 1.1 + 'px'}">
                    <div class="stats-item-value" [style]="{fontSize: fontSizeLarge + 'px'}">{{getStat("attack")}}</div>
                    <img src="assets/attack.svg" [style]="{width: statIconSize + 'px', height: statIconSize + 'px'}">
                </div>
                <div id="stats-defense" class="stats-item" [style]="{height: statIconSize * 1.1 + 'px'}">
                    <div class="stats-item-value" [style]="{fontSize: fontSizeLarge + 'px'}">{{getStat("defense")}}</div>
                    <img src="assets/defense.svg" [style]="{width: statIconSize + 'px', height: statIconSize + 'px'}">
                </div>
                <div id="stats-damage" class="stats-item" [style]="{height: statIconSize * 1.1 + 'px'}">
                    <div class="stats-item-value" [style]="{fontSize: fontSizeLarge + 'px'}">{{getStat("damage")}}</div>
                    <img src="assets/damage.svg" [style]="{width: statIconSize + 'px', height: statIconSize + 'px'}">
                </div>
                <div id="stats-health" class="stats-item" [style]="{height: statIconSize * 1.1 + 'px'}">
                    <div class="stats-item-value" [style]="{fontSize: fontSizeLarge + 'px'}">{{getStat("health")}}</div>
                    <img src="assets/health.svg" [style]="{width: statIconSize + 'px', height: statIconSize + 'px'}">
                </div>
            </div>
        </div>
        <div id="section-typeline" class="section" [class.vpless]="getVP() == null" [style]="{fontSize: fontSizeMedium + 'px'}">
            <div id="typeline-main">{{getTypeline(true)}}</div>
            <div id="typeline-subtype">{{getTypeline(false)}}</div>
        </div>
        <div id="section-vp" [style]="{visibility: getVP() != null ? 'visible' : 'hidden'}">
            <div id="vp-value" [style]="{fontSize: fontSizeMedium + 'px'}">{{getVP()}}</div>
            <img src="assets/crown2.svg" [style]="{width: innerCardWidth * .32 + 'px', height: innerCardHeight * .2 + 'px'}">
        </div>
        <div id="section-footer" class="section" [style]="{fontSize: fontSizeTiny + 'px'}">
            Illus. {{getArtistCredit()}}
        </div>
    </div>
</div>